<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>EquiTrack – Pferdemanagement</title>
</head>

<body>
    <header>
        <h1>EquiTrack</h1>
        <p>wichtige Infos zu deinem Hotti an einem Ort</p>
    </header>

    <main>
        <section>
            <h2>Willkommen</h2>

            <p>
                Verwalte Pferdeprofile, Termine & wichtige
                Gesundheitsinformationen übersichtlich.
            </p>
        </section>

        <section>
            <h2>Übersicht</h2>

            <ul>
                <li>Pferde verwalten</li>
                <li>Tierarzttermine im Blick behalten</li>
                <li>Hufschmiedtermine dokumentieren</li>
                <li>Überfällige Termine erkennen</li>
            </ul>
        </section>
    </main>
</body>
</html>